.slds-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 .5rem;
}


.slds-table th {
  text-align: left;
  padding: .5rem;
  font-size: 1rem;
  font-weight: bold;
}

.slds-table td {
  padding: .5rem;
  font-size: .875rem;
  vertical-align: middle;
}

.slds-input {
  width: 100%;
}

.slds-button {
  margin-top: 1rem;
}

.slds-grid {
  align-items: center;
}

.product-image {
  max-height: 3rem;
  width: auto;
}